name: Lint

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
          
      # ESLint and Prettier must be in `package.json`
      - name: Install Node.js dependencies
        uses: CultureHQ/actions-yarn@v1.0.1
        with: 
          args: "--cwd exam-app install --immutable --immutable-cache --check-cache" 

      - name: Run ESlint and Prettier
        uses: CultureHQ/actions-yarn@v1.0.1
        with:
          args: "--cwd exam-app style:all"
